@media (min-width: 992px) {
  .nav_menu_link::before,
  .footer_link::before {
    content: '';
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #a6a6a6;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s ease;
  }

  .nav_menu_link::before {
    bottom: 7px;
  }

  .footer_link::before {
    bottom: 0;
  }

  .nav_menu_link:hover::before,
  .footer_link:hover::before {
    transform: scaleY(1);
  }

  .nav_menu_link.w--current::before,
  .footer_link.w--current::before {
    display: none;
  }
}
